:root {
  /* Primary Colors */
  --orange: hsl(31, 77%, 52%);
  --cyan: hsl(184, 100%, 22%);
  --dark-cyan: hsl(179, 100%, 13%);

  /* neutral colors */
  /* paragraphs */
  --transparent-white: hsla(0, 0%, 100%, 0.75);
  /* background, headings, buttons */
  --light-gray: hsl(0, 0%, 95%);

  /* font sizes */
  --font-md: 15px;
  --font-lg: 32px;

  /* font families */
  --font-family-sans: "Lexend Deca", sans-serif;
  --font-family-cursive: "Big Shoulders Display", cursive;
}

/* Globals/Reset */
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: var(--font-family-sans);
  font-size: var(--font-md);
  background: var(--light-gray);
  color: white;
}

/* Mobile/Default styles */
.responsive-container {
  margin: 0 auto;
}

.preview {
    width: 20.5rem;
    padding: 3rem;
}

.preview:nth-child(1) {
  background-color: var(--orange);
}
.preview:nth-child(2) {
  background-color: var(--cyan);
}
.preview:nth-child(3) {
  background-color: var(--dark-cyan);
}

.heading {
    font-family: var(--font-family-cursive);
    font-size: var(--font-lg);
    margin: 2.25rem auto;
    text-transform: uppercase;
}

.body {
    margin: 1.75rem auto;
    line-height: 1.5;
    color: var(--transparent-white);
}

.btn {
    display: inline-block;
    padding: 1rem 2rem;
    color: black;
    position: relative;
    background: none;
    mix-blend-mode: screen;
}
.btn::before {
    content: "";
    position: absolute;
    inset: 0;
    background: white;
    border-radius: 25px;
    mix-blend-mode: color-burn;
}

/* Desktop Styles */
@media only screen and (min-width: 1024px) {
    .responsive-container {
        display: flex;
    }
}
